/* 
CSS File of APP.JS File 
*/


body {
  background:linear-gradient(120deg, #8ed7fb 0%, #e09df3 100%);
}

.head-content {
  
  font:  1.2em "Fira Sans", serif;
  font-size: 50px;
  color:#c864e3
 
}

.head {
  display: flex;
  text-align: center;
  justify-content: center;
  font: italic 1.2em "Fira Sans", serif;
  font-size: 50px;

  flex-direction: column;
}

button {
  position: relative ; 
  border : none ;
  transition: .4s ease-in ;
  z-index: 1;
  cursor: pointer;
}

button::before,
button::after {
  position: absolute;
  content: "";
  z-index: -1 ;
}

#btn-submit {

  font:  1.2em "Fira Sans", serif;
  margin: 25px;
  padding: 11px 25px;
  margin-left: 98px;
  color:#c864e3

}

.export {
  margin-left: 10%;
}

#btn-submit:hover, button:hover {
  background: #fcf4f6;
  box-shadow: 0 0 5px #fcf4f6, 0 0 25px #fcf4f6, 0 0 50px #fcf4f6, 0 0 200px #fcf4f6;
}

.content {
  height: 60%;
  width: 40%;
}
